# **Salary Survey Analysis**

In [6]:
import pandas as pd
dfSal = pd.read_excel("ManagerSurvey.xlsx")

In [7]:
dfSal

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,2021-04-27 11:02:21.562,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28175,2025-10-07 15:47:39.008,25-34,Law,Lawyer,NaN,200000,NaN,USD,NaN,NaN,USA,New Jersey,NYC,5-7 years,5-7 years,Master's degree,Man,Asian or Asian American
28176,2025-10-07 17:36:45.062,18-24,NaN,student,at msu,0,0.0,USD,NaN,NaN,USA,Michigan,lansing,1 year or less,2 - 4 years,NaN,NaN,White
28177,2025-10-08 09:51:01.836,under 18,NaN,1,NaN,1,1.0,EUR,11,111,1,NaN,1,11 - 20 years,21 - 30 years,Some college,Man,Black or African American
28178,2025-10-08 17:01:11.999,18-24,Property or Construction,Field Assitant,Assistant Glazer,41600,NaN,USD,NaN,NaN,U.S.,Arizona,Tucson,1 year or less,1 year or less,Some college,Man,"Hispanic, Latino, or Spanish origin, Native Am..."
28179,2025-10-10 18:34:00.232,under 18,lifeguard,Head Lifeguard,NaN,40000,NaN,USD,NaN,NaN,US,Arizona,Chandler,2 - 4 years,2 - 4 years,High School,Man,White

In [8]:

dfSal=dfSal.set_axis(['TimeStamp','Age Range','Industry','Job Title',
                'Title Context','Net Salary','Salary Bonus','Currency',
                'Other Currency','Additional Income Context','Country of Work','US State',
                'Work City','Work Experience Overall','Work Experience in your field',
                'Highest Education','Gender','Race'],axis=1)

In [9]:
dfSal['Age Range'].unique()

array(['25-34', '45-54', '35-44', '18-24', '65 or over', '55-64',
       'under 18'], dtype=object)

In [10]:
#idmax() is used to tell name of variable having highest count
#max() tells the count of that variable
count_maxage=dfSal['Age Range'].value_counts().idxmax()
count_1=dfSal['Age Range'].value_counts().max()
count_minage=dfSal['Age Range'].value_counts().idxmin()
count_2=dfSal['Age Range'].value_counts().min()
print(f'Age range having maximum responses: {count_maxage} ({count_1})')
print(f'Age range having minimum responses: {count_minage} ({count_2})')

Age range having maximum responses: 25-34 (12694)
Age range having minimum responses: under 18 (17)

In [11]:
AllAges=[18,24,25,34,35,44,45,54,55,64,65]
Meanage=sum(AllAges)/len(AllAges)
print('Mean Age: ',Meanage)

Mean Age:  42.09090909090909

In [12]:
dfSal['Currency'].unique()

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD/NZD', 'Other', 'CHF', 'ZAR',
       'SEK', 'HKD', 'JPY'], dtype=object)

In [13]:
CurrencyRates={'USD':1, 'GBP':1.33, 'CAD':0.73, 'EUR':1.10, 'AUD/NZD':0.64, 'Other':1, 'CHF':1.10, 'ZAR':0.052,
       'SEK':0.092, 'HKD':0.128, 'JPY':0.0068}

In [14]:
dfSal['Net Salary'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28180 entries, 0 to 28179
Series name: Net Salary
Non-Null Count  Dtype
--------------  -----
28180 non-null  int64
dtypes: int64(1)
memory usage: 220.3 KB

In [23]:
dfSal['Net Salary'] = dfSal['Net Salary'].astype(float)

for i in range(len(dfSal)):
    curr = dfSal.loc[i, 'Currency']

    if curr == 'GBP':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['GBP']
    elif curr == 'CAD':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['CAD']
    elif curr == 'AUD/NZD':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['AUD/NZD']
    elif curr == 'CHF':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['CHF']
    elif curr == 'ZAR':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['ZAR']
    elif curr == 'SEK':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['SEK']
    elif curr == 'HKD':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['HKD']
    elif curr == 'JPY':
        dfSal.loc[i, 'Net Salary'] *= CurrencyRates['JPY']
    else:
        dfSal.loc[i, 'Net Salary'] *= 1

In [24]:
dfSal

,TimeStamp,Age Range,Industry,Job Title,Title Context,Net Salary,Salary Bonus,Currency,Other Currency,Additional Income Context,Country of Work,US State,Work City,Work Experience Overall,Work Experience in your field,Highest Education,Gender,Race
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000.00,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,2021-04-27 11:02:21.562,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,96581.94,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000.00,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,NaN,62000.00,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000.00,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28175,2025-10-07 15:47:39.008,25-34,Law,Lawyer,NaN,200000.00,NaN,USD,NaN,NaN,USA,New Jersey,NYC,5-7 years,5-7 years,Master's degree,Man,Asian or Asian American
28176,2025-10-07 17:36:45.062,18-24,NaN,student,at msu,0.00,0.0,USD,NaN,NaN,USA,Michigan,lansing,1 year or less,2 - 4 years,NaN,NaN,White
28177,2025-10-08 09:51:01.836,under 18,NaN,1,NaN,1.00,1.0,EUR,11,111,1,NaN,1,11 - 20 years,21 - 30 years,Some college,Man,Black or African American
28178,2025-10-08 17:01:11.999,18-24,Property or Construction,Field Assitant,Assistant Glazer,41600.00,NaN,USD,NaN,NaN,U.S.,Arizona,Tucson,1 year or less,1 year or less,Some college,Man,"Hispanic, Latino, or Spanish origin, Native Am..."
28179,2025-10-10 18:34:00.232,under 18,lifeguard,Head Lifeguard,NaN,40000.00,NaN,USD,NaN,NaN,US,Arizona,Chandler,2 - 4 years,2 - 4 years,High School,Man,White

In [25]:
datafram=dfSal[dfSal['Country of Work'].isin(['US', 'USA', 'U.S.', 'United States'])]

In [27]:
datafram.loc[:, 'Country of Work'] = datafram['Country of Work'].replace(
    ['US', 'USA', 'U.S.', 'United States'], 'US'
)

In [28]:
datafram

,TimeStamp,Age Range,Industry,Job Title,Title Context,Net Salary,Salary Bonus,Currency,Other Currency,Additional Income Context,Country of Work,US State,Work City,Work Experience Overall,Work Experience in your field,Highest Education,Gender,Race
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000.0,0.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000.0,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,NaN,62000.0,3000.0,USD,NaN,NaN,US,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000.0,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,2021-04-27 11:02:45.571,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,62000.0,NaN,USD,NaN,NaN,US,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2025-10-07 15:45:12.941,18-24,School,Student,NaN,0.0,NaN,USD,NaN,NaN,US,Michigan,East Lansing,11 - 20 years,2 - 4 years,NaN,NaN,NaN
28175,2025-10-07 15:47:39.008,25-34,Law,Lawyer,NaN,200000.0,NaN,USD,NaN,NaN,US,New Jersey,NYC,5-7 years,5-7 years,Master's degree,Man,Asian or Asian American
28176,2025-10-07 17:36:45.062,18-24,NaN,student,at msu,0.0,0.0,USD,NaN,NaN,US,Michigan,lansing,1 year or less,2 - 4 years,NaN,NaN,White
28178,2025-10-08 17:01:11.999,18-24,Property or Construction,Field Assitant,Assistant Glazer,41600.0,NaN,USD,NaN,NaN,US,Arizona,Tucson,1 year or less,1 year or less,Some college,Man,"Hispanic, Latino, or Spanish origin, Native Am..."
28179,2025-10-10 18:34:00.232,under 18,lifeguard,Head Lifeguard,NaN,40000.0,NaN,USD,NaN,NaN,US,Arizona,Chandler,2 - 4 years,2 - 4 years,High School,Man,White

In [29]:
max_country=datafram['Country of Work'].value_counts().idxmax()
max_country_count=datafram['Country of Work'].value_counts().max()
if 'US State' in datafram.columns:
    max_state=datafram['US State'].value_counts().idxmax()
    max_state_count=datafram['US State'].value_counts().max()
print(f'country having maximum responses are: {max_country}  ({max_country_count})\nstate having maximum responses are: {max_state}  ({max_state_count})')

top_state=datafram[datafram['US State'] == max_state]
if 'Work City' in top_state.columns:
    max_city=top_state['Work City'].value_counts().idxmax()
    max_city_count=top_state['Work City'].value_counts().max()
print(f'city having maximum responses are: {max_city}  ({max_city_count})')

country having maximum responses are: US  (20187)
state having maximum responses are: California  (2303)
city having maximum responses are: San Francisco  (460)

In [30]:
top_city=top_state[top_state['Work City']==max_city]
if 'Gender' in top_city.columns:
    gender1=top_city['Gender'].value_counts()

print(gender1)

Gender
Woman                            314
Man                              128
Non-binary                        13
Other or prefer not to answer      4
Name: count, dtype: int64

In [31]:
print(f'Age range having maximum responses: {count_maxage} ({count_1})')
print(f'Age range having minimum responses: {count_minage} ({count_2})')

Age range having maximum responses: 25-34 (12694)
Age range having minimum responses: under 18 (17)